@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --col-bg: #eec8ee;
  --col-card-bg: #f0b1e5;
  --col-card-content: rgb(88 199 250 / 0%);
}

body {
  background-color: rgb(206, 178, 209);
  margin: 0;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(177, 109, 189);
  color: white;
  font-size: 2em;
}

/* Centrado general para el formulario y elementos internos */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  padding: 20px;
  background-color: rgb(245, 231, 198);
  border-radius: 25px;
  box-shadow: 1px 2px 18px 2px rgba(0, 0, 0, 0.75);
  width: 400px;
  margin: 30px auto; /* Auto en los márgenes laterales centra el formulario en la página */
}

/* Ajustes para el botón */
form #boton {
  width: 180px;
  height: 40px; /* Asegura que el botón tenga una altura adecuada */
  font-size: 1em;
  border: none;
  background-color: rgb(210, 111, 227);
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 2px 40px -3px rgba(0, 0, 0, 0.55);
}

.card {
  background: var(--col-card-bg);
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: var(--col-card-content);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  /* Centrado horizontal y movido hacia abajo */
  position: absolute;
  top: 60%; /* Movido hacia abajo para no estar tan arriba */
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.img-deco {
  width: 200px; /* Tamaño de la imagen ajustado */
  height: 200px; /* Tamaño de la imagen ajustado */
  position: absolute;
  border-radius: 6px;
  z-index: -1; /* Coloca la imagen detrás de la tarjeta */
}

/* Posiciona la primera imagen en la esquina inferior izquierda */
.img-deco:first-child {
  left: 0;
  bottom: 0;
  transform: translate(-30%, 30%); /* Ajusta la posición para salir un poco de la tarjeta */
}

/* Posiciona la segunda imagen en la esquina inferior derecha y la rota */
.img-deco.rotate {
  right: 0;
  bottom: 0;
  transform: translate(30%, 30%) rotate(20deg); /* Ajusta la posición para salir un poco de la tarjeta y añade rotación */
}



form #nombre {
  width: 98%;
  border: none;
  height: 30px;
  border-radius: 10px;
}

form textarea {
  width: 98%;
  border: none;
  border-radius: 10px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

form #boton:hover {

  cursor: pointer;
  box-shadow: 1px 2px 40px -3px rgba(0, 0, 0, 0.55);
}

.hidden {
  display: none;
}

.card:hover {
  color: rgb(172, 88, 250);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #ffb8ec,
    #f8abff 43%,
    #ec98e8
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #f5dfef,
    #eabdee 43%,
    #ffb1fb
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
